:root{
    --cor1: white;
    --rubik: "Rubik", sans-serif;
}

h2,h3{
    font-size: 30px;
    text-align: center;
    color: #E87D0E;
    font-family: var(--rubik);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#gandalf {
    width: 100%;
    text-align: center;
}

#message {
    text-align: center;
    margin-top: 2%;
}

#message p {
    color: white;
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#buttonGandalf {
    color: white;
    background-color: #FA9021;
    border-radius: 6px;
    border: none;
    width: 131px;
    height: 41px;
    font-family: var(--poppins);
    transition: 0.4s;
}

#buttonGandalf:hover {
    background-color: #c8731a;
    cursor: pointer;
}