@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor1: white;
    --poppins: "Poppins", sans-serif;
}

nav {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    height: auto;
}

nav > a {
    text-decoration: none;
    font-family: var(--poppins);
    position: relative;
}

nav > a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background:#FA9021 ;
    transition: width 0.3s ease, right 0.3s ease;
}

nav > a:hover::after {
    width: 50%;
    left: 0;
}

.divNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.flexDirection{
    display: flex;
    flex-direction: row;
}

#logo {
    display: flex;
    color: var(--cor1);
    font-size: 29px;
    font-family: var(--poppins);
    text-decoration: none;
    font-weight: bolder;
    margin-left: 30px;
}

.contact {
    color: white;
    background-color: #FA9021;
    border-radius: 6px;
    border: none;
    width: 131px;
    height: 41px;
    font-family: var(--poppins);
    margin-right: 47px;
}
