body {
    background-color: #422F9C;
    background-image: url(/images/joy_stick\ 1.png);
    background-position: 95% 0%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

a {
    color: #fff
}

