#project01 {
    width: 457px;
    height: auto;
}

#project02 {
    width: 457px;
    height: auto;
}

#project03 {
    width: 427px;
    height: auto;
}

#project04 {
    width: 246px;
    height: 270px;
}

#project05 {
    width: 520px;
    height: 270px;
}

#project06 {
    width: 469;
    height: 270px;
}
