.trendingGame {
    border-radius: 20px;
}

.sold {
    width: 50px;
    height: 50px;
}

#points {
    position: absolute;
    z-index: -1;
    margin-left: 58%;
    width: 20%;
    max-width: 196px;
    height: auto;
}

#imageffxvi {
    position: relative;
    z-index: 1;
    margin-top: 12%;
    width: 1320px;
    height: 462px;
}


#project01 {
    width: 457px;
    height: auto;
}

#project02 {
    width: 457px;
    height: auto;
}

#project03 {
    width: 427px;
    height: auto;
}

#project04 {
    width: 246px;
    height: 270px;
}

#project05 {
    width: 520px;
    height: 270px;
}

#project06 {
    width: 600px;
    height: 270px;
}

#imageDev{
    width: 65px !important;
    height: 65px !important;
}

#arrowImage{
    width: 21px !important;
    height: 21px !important;
}


@media (max-width: 768px) {
    #imageffxvi {
        width: 100%;
        height: auto;
    }

    #project01 {
        width: 90%;
        max-width: 457px;
        margin: 10px auto;
        height: auto;
    }

    #project02 {
        width: 90%;
        max-width: 457px;
        margin: 10px auto;
        height: auto;
    }

    #project03 {
        width: 90%;
        max-width: 427px;
        margin: 10px auto;
        height: auto;
    }

    #project04 {
        width: 90%;
        max-width: 246px;
        margin: 10px auto;
        height: auto;
    }

    #project05 {
        width: 90%;
        max-width: 520px;
        margin: 10px auto;
        height: auto;
    }

    #project06 {
        width: 90%;
        max-width: 469px;
        margin: 10px auto;
        height: auto;
    }

    #points {
        width: 30%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
