@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor1: white;
    --poppins: "Poppins", sans-serif;
    --rubik: "Rubik", sans-serif;
}

body {
    background-color: #422F9C;
    background-image: url('/images/joy_stick 1.png');
    background-position: 95% 0%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#content01 {
    display: flex;
}

#texts1 {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 12%;
}

#engines {
    display: flex;
    flex: 35%;
}

.ubisoft {
    width: 96px;
    height: 89px;
    margin-top: 170px;
    margin-left: 40px;
}

.fromsoftware {
    width: 242px;
    height: 32px;
    margin-top: 80px;
    margin-right: 40px;
}

.capcom {
    width: 222px;
    height: 40px;
    margin-top: 70px;
    margin-left: 60px;
}

.nintendo {
    width: 222px;
    height: 54px;
    margin-top: 170px;
    margin-right: 10px;
}

h1, #p1, #p2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3vw;
    font-weight: bold;
    color: var(--cor1);
    width: 65%;
    margin-bottom: 10px;
}

#p1 {
    font-size: 20px;
    font-weight: bold;
    color: #E87D0E;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin-bottom: 30px;
}


#p2 {
    font-size: 16px;
    font-weight: medium;
    color: var(--cor1);
    margin-right: 10%;
    width: 80%;
    margin-bottom: 0;
}

#detailsButton {
    color: var(--cor1);
    background-color: #E87D0E;
    margin-top: 2%;
    width: 195px;
    height: 53px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#detailsButton:hover {
    background-color: #c8731a;
}

#textTrending {
    overflow: hidden;
    margin: 12% 12% 0 12%;
}

#textTrending h2, button {
    color: var(--cor1);
    font-family: var(--rubik);
    float: left;
}

h2 {
    font-size: 2vw;
}

#textTrending button {
    position: absolute;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.11);
    border: none;
    border-radius: 6px;
    width: 139px;
    height: 57px;
    margin-top: 20px;
    margin-left: 42%;
}

#textTrending button:hover {
    background-color: #E87D0E;
    cursor: pointer;
}

#imagesTrending {
    display: flex;
    width: 76%;
    justify-content: space-between;
    margin: 2% 12%;
}

.followers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.followers p {
    font-size: 22px;
    font-family: var(--rubik);
    color: var(--cor1);
    margin-left: 5px;
}

#simpleText {
    display: flex;
    color: var(--cor1);
    font-family: var(--poppins);
    font-size: 2vw;
    text-align: center;
    margin: 5% 25%;
}

#spiderMan {
    margin: 0 55% 0 12%;
}

#spiderMan > p, #spiderMan > h3 {
    color: var(--cor1);
    font-family: var(--poppins);
}

#spiderMan > p {
    font-size: 16px;
}

#spiderMan > h3 {
    font-size: 30px;
    font-weight: 500;
}

#studio {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 140vh;
}

#backgroundStudio {
    margin-top: 10%;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#studio img {
    width: 100%;
    height: auto;
}

#projects {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    color: var(--cor1);
    font-family: var(--poppins);
    align-items: center;
    text-align: center;
}

#projects h4 {
    font-size: 30px;
}

#projects p {
    font-size: 14px;
    width: 25%;
}

.imagesProjects {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.imagesProjects img {
    overflow: hidden;
    width: 100%;
}

.centeredImages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marginTop2 {
    margin-top: 2%;
}

#seeAll {
    position: relative;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.11);
    border: none;
    border-radius: 6px;
    width: 139px;
    height: 57px;
    margin-top: 50%;
}

#seeAll:hover {
    background-color: #c8731a;
}

#plataformsText {
    text-align: center;
    font-family: var(--poppins);
    color: var(--cor1);
    z-index: 3;
    margin: 2% 10%;
    width: 70%;
}

#plataformsText h1 {
    width: 60%;
    margin-left: 20%;
    margin-top: 150px;
    font-size: 30px;
}

#plataformsText p {
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
    font-size: 16px;
}

#plataformsImg {
    margin-top: 10%;
}

#randomText {
    margin: 5% 12%;
    width: 30%;
    font-family: var(--poppins);
    color: var(--cor1);
}

#randomText h1 {
    font-size: 30px;
}